@import "./fonts.scss";

@import "./bootstrap";

@import "./header";
@import "./footer";
@import "./btn";
@import "./cards";
// @import "./slick";
// @import "./share";
// @import "./main-block";
// @import "./links";
// @import "./social";
// @import "./search";
// @import "./info-block";
// //@import "./blogs";
// @import "./backgrounds";
// @import "./text";
// @import "./indents";
// @import "./select";
// @import "./discussions";
// @import "./account";
// @import "./animation";
// @import "./popover";
// @import "./modal";
// @import "./pager";
// @import "./news";
// @import "./comments";
// @import "./sign-up";
// @import "./account-page";
// @import "./site-map";
// @import "./error-page";
//@import "./big-fonts";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;

    .Page {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    main {
        flex: 1 0 auto;
    }
}

.link-blue {
    font-weight: 600;
    color: $blue;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        text-decoration: none;
    }
}

.bdb-gray {
    border-bottom: 1px solid #e5e5e5;
}

.search {
    padding: 5px 0;

    button {
        margin-right: 18px;
        background: 0;
        border: 0;
        padding-left: 0;
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        img {
            margin-top: -3px;
        }
    }

    .form-control {
        border: 0;
        padding-left: 0;
        margin-bottom: 0;
        width: auto;

        &:focus {
            box-shadow: none;
        }

        &::placeholder {
            color: #a0a0a0;
        }
    }
}

.flex-grow {
   flex: 1;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #101010;
    padding-bottom: 35px;
    margin: 0;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 24px;
    margin: 0;
}

.text {
    opacity: 0.8;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    padding: 0;
    margin-bottom: 24px;
    color: #757575;
}

.main-block {
    background:url('../images/main-block.png') center center no-repeat;
    background-size: cover;
    padding: 126px 0 46px;
    text-align: center;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .3);
    }

    .btn {
        margin-bottom: 40px;
    }
}

.subtitle {
    opacity: 0.8;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.84;
    letter-spacing: 0.8px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.section {
    padding: 60px 0 55px;
    color: #fff;

    &-blue {
        background: $blue;

        .text {
            color: #fff;
        }

        h3, h4 {
            color: #fff;
        }
    }
}

.dropdown-menu {
    max-height: 193px;
    overflow-y: auto;
}

.products {
    padding: 0;
    list-style: none;

    &-item {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: 18px;
    }

    &-link {
        display: block;
        background: #f5f5f5;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1px;
        text-align: left;
        color: #808080;
        text-transform: uppercase;
        padding: 10px 18px;

        &:hover {
            text-decoration: none;
            color: #101010;
        }
    }
}

.dropdown-btn {
    display: inline-block;
    outline: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #a0a0a0;
    padding: 0;

    &:after {
        border: 0;
        background:url('../images/tick.svg') center center no-repeat;
        width: 14px;
        height: 8px;
        margin-left: 8px;
        transform: translateY(3px);
    }

    &:hover {
        color: #101010;
    }

    &:focus {
        outline: 0;
    }
}

.filters {
    background: #f5f5f5;
    padding: 23px 0;

    .dropdown {
        display: inline-block;
        margin-right: 30px;
    }

    .dropdown-menu {
        top: 19px !important;
        border: 0;
        padding: 0;

        .dropdown-item {
            padding: 12px 24px;
            border: solid 1px #e5e5e5;
            margin-bottom: -1px;
            color: #808080;

            &:first-child {
                border-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                background-color: #f5f5f5;
                color: #101010;
            }
        }
    }
}

.main-product {
    background: #0089bd;
    padding: 60px 0;

    &-body {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    h1 {
        text-align: left;
        margin-bottom: 21px;
    }

    .main-product-image {
        margin-right: 80px;
        width: 240px;
        height: 240px;
        background: #fff;
        border-radius: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;

        img {
            width: 68px;
        }
    }

    .subtitle {
        opacity: 0.6;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 22px;

        img {
            width: 17px;
            display: inline-block;
            vertical-align: center;
            margin-right: 12px;
            margin-top: -5px;
        }
    }

    .text {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        max-width: 540px;
        margin-bottom: 30px;
    }
}

.product-nav {
    background: #f5f5f5;
    // padding: 24px 0;

    .nav-item {
        &:first-child {
            .nav-link {
                padding-left: 0 !important;

                &.active {
                    &:after {
                        left: 0;
                        width: calc(100% - 18px);
                    }
                }
            }
        }

        .nav-link {
            &.active {
                color: #0089bd !important;

                &:after {
                    background-color: #0089bd !important;
                    bottom: -17px !important;
                }
            }

            &:hover {
                color: #0089bd !important;
            }
        }
    }
}

.about-product {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    & > div {
        &:first-child {
            max-width: 720px;
        }
    }

    .text {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #757575;
        margin-right: 70px;
    }

    .about-product-links {
        strong {
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #101010;
            display: block;
            margin-bottom: 25px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {

        }

        .about-product-link {
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 1px;
            text-align: center;
            color: #a0a0a0;
            text-transform: uppercase;
            margin-bottom: 18px;
            display: inline-block;

            img {
                width: 18px;
                display: inline-block;
                margin-right: 13px;
                margin-top: -4px;
            }
        }

        a.about-product-link {
            color: #0089bd;
        }
    }
}

.screenshots {
    h4 {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #101010;
        margin-top: 20px;
        margin-bottom: 8px;
    }
    ul {
        padding: 0;
        list-style: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;

        li {

        }
    }
}

.demands-block {
    background: #f5f5f5;
    padding: 18px 23px;
    margin-bottom: 40px;

    &-text {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #101010;
    }

    &-info {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        color: #a0a0a0;
    }

    &-link {
        margin-right: 24px;
        display: flex;
        align-items: center;

        img {
            margin-right: 12px;
        }
    }

    .col {
        &:last-child {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
        }
    }
}

.implications {
    .text {
        font-size: 16px;
        margin-bottom: 18px;
    }
}

.person {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;

    .person-img{
        width: 36px;
        height: 36px;
        border-radius: 200px;
        margin-right: 24px;
    }

    .person-name {
        font-weight: 600;
        color: #101010;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: left;
    }
    .person-position {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: left;
        color: #757575;
    }
}

form {
    label {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #101010;
    }

    input {
        height: 48px !important;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #e0e0e0;
        margin-bottom: 30px;
    }

    .btn {
        width: 100%;
        margin-top: 32px !important;
    }
}

@media screen and (max-width: 1140px) {
    .about-product {
        flex-direction: column;
    }

    .screenshots {
        // .screenshots-images {
        //     display: -webkit-flex;
        //     display: -moz-flex;
        //     display: -ms-flex;
        //     display: -o-flex;
        //     display: flex;
        //     justify-content: center;
        // }
        ul {
            // width: 100%;
            // display: inline-block;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            li {
                margin-bottom: 30px;
                margin-right: 30px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .product-nav {
        .navbar-nav {
            flex-direction: column;
        }

        .nav-link.active:after {
            display: none;
        }

        .nav-link {
            padding-left: 0 !important;
        }
    }

    .implications {
        .col-lg-4 {
            margin-bottom: 30px;
        }
    }

    form {
        .btn {
            margin-top: 0px!important;
        }
    }
}


@media screen and (max-width: 767px) {
    .filters {
        .dropdown {
            display: block;
            margin-bottom: 20px;
        }

        .dropdown-menu {
            top: 3px !important;
        }
    }

    .main-product-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            margin-top: 15px;
            line-height: 40px;
        }

        .main-product-image {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 440px) {
    .screenshots {
        .screenshots-images {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
        }
        ul {
            width: 100%;
            display: inline-block;

            li {
                margin-right: 0;
            }
        }
    }
}
