.btn {
  // border: 2px solid #8598a8;
  // color: #fff;
  border-radius: 4px;
  outline: 0;
  box-shadow: none;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #101010;
  background: #ffffff;

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:hover,
  &:active,
  &.btn-outline-primary:not(:disabled):not(.disabled).active,
  &.btn-outline-primary:not(:disabled):not(.disabled):active,
  &.show>.btn-outline-primary.dropdown-toggle{
    box-shadow: none;
  }
}

.btn-primary {
    &:hover,
    &:focus,
    &:active {
        background: #333333 !important;
        color: #fff !important;
        box-shadow: none !important;
    }
}

.btn-primary,
.btn-secondary {
  border: 0;

  &:hover {
    color: #fff;
  }
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-secondary {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    color: #0089bd;
    padding: 10px 20px;
    border-radius: 4px;
    border: solid 1px #0089bd;
}

.btn-lg {
    padding: 18px 20px;
}

.btn-secondary {
     background: #0089bd;
     color: #fff;

     &:hover,
     &:focus,
     &:active {
         background: #03658a !important;
         box-shadow: none !important;
         outline: 0;
     }
}

.btn-outline-secondary {
  color: #fff;
  background: #0089bd;
  border-color: #fff;

  &:hover,
  &:focus,
  &:active {
      background: #fff !important;
      color: #0089bd !important;
      border-color: #fff !important;
      box-shadow: none !important;
  }
  // border: 2px solid #da1518;
  // text-transform: none;
  // font-size: 16px;
  // padding: 3px 20px;
}

.btn-group {
    .btn {
        padding: 8px 12px;
        border-radius: 4px;
        position: relative;
        background: #f5f5f5;
        color: #a0a0a0;
        border: 0;

        &:hover {
            color: #101010;
        }

        &.active {
            border-radius: 4px !important;
            z-index: 2;
            background-color: #ffffff;
            border: solid 1px #e5e5e5;
            color: #101010;
        }
    }
}

.btn-outline-primary.disabled {
    color: #a0a0a0;
    border-color: #a0a0a0;
}
