.card-body {
    flex: 0;
}



.cards {
    // display: flex;
    // flex-wrap: wrap;

    .col,
    .col-lg-3,
    .col-lg-6 {
        margin-bottom: 40px;
    }

    .card {
        position: relative;
        // max-width: 260px;
        // margin-right: 40px;
        // margin-bottom: 40px;
        height: 100%;

        // &:nth-child(4n) {
        //     margin-right: 0;
        // }

        &:after {
            content: '';
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 120px;
        }

        .card-body {
            margin: 0 24px;
            padding: 0 ;
            padding-top: 24px;
            padding-bottom: 24px;
            border-top: 1px solid #e5e5e5;
        }

        .card-img-top {
            max-width: 55px;
            margin: 28px auto;

        }

        .card-title {
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #101010;
            margin-bottom: 12px;
            display: inline-block;
        }

        .card-text {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: left;
            color: #757575;
        }
    }

    .card-header {
        border: 0;
        background: #fff;
        padding: 15px 0;
        text-align: center;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
      height: 100px;

        img {
            display: inline-block;
            max-height:52px;
            // width: 52px;
            // margin-top: 12px;
            margin-right: 15px;
        }

        span {
            font-size: 28px;
        }
    }
}

.card.card-new {
    background-size: cover; background-position: center 60px;
    background-repeat: no-repeat;
    text-decoration: none;

    .card-header {
        height: 100px; margin-bottom: 0px; background-color: #148abb; margin-left: -1px; margin-right: -1px;

        span {
            color: #FFFFFF; font-size: 26px;
        }
    }

    .car-image {
        filter: invert(100%); -webkit-filter: invert(100%); -moz-filter: invert(100%); -o-filter: invert(100%); -ms-filter: invert(100%);
    }

    .card-body {
        height: 250px;
        overflow: hidden;
        border: 0;

        &:after {
            display: none;
        }
    }

    .card-footer {
        background: none;
    }
}

.color-red {
    color: #d65492;
}

.color-blue {
    color: #3994b6;
}

.car-image {
    height: 42px;
}

.cards-with-footer {

    .card:after {
        display: none;
    }
    .card-body {
        flex: 1 1 auto;
        position: relative;

        &:after {
            content: '';
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 120px;
        }
    }

    .card-footer {
        background: #fff;
        border-top: 0;
        padding-top: 0;
        text-align: center;

        .btn {
            width: 100%;
            max-width: 260px;
            display: inline-block;
        }
    }
}

.cards-post {
    .card {
        border: 0;

        &:after {
            display: none;
        }

        .card-body {
            padding: 24px 0 12px;
            margin: 0;
        }

        .card-img-top {
            border-radius: 4px;
            width: 100% !important;
            max-width: 100% !important;
            margin: 0 !important;
        }

        .card-title {
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 1px;
            text-align: left;
            color: #a0a0a0;
            text-transform: uppercase;
            margin-bottom: 0;
            display: block;
        }

        .card-text {
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #101010;
        }
    }
}

.cards-side {
    h4 {
        color: #000;
    }

    .card {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1220px) {
    .cards {
        .card {
            &:nth-child(4n) {
                margin-right: 40px;
            }
        }
    }
}

@media screen and (max-width: 1170px) {
  .cards-with-footer {
      .card-footer {
        .btn {
          span {
            display: none;
          }
        }
      }
  }
}

@media screen and (max-width: 992px) {
    .cards {
        justify-content: center;

        .card {
            margin: 0 20px 40px;

            &:nth-child(4n) {
                margin: 0 20px 40px;
            }
        }
    }

    .card-deck {
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        .card {
            margin: 0 20px 40px;
            width: 260px;
                flex-basis: auto;
        }
    }
}

// @media screen and (max-width: 767px) {
//     .cards {
//         justify-content: center;
//
//         .card {
//             margin: 0 20px;
//         }
//     }
// }
