build/*.js
config/*.js
src/components/*.vue
src/components/**/*.vue
src/components/*.js
src/components/**/*.js
src/helpers/**
src/jquery.fancybox.js
src/jquery.montage.min.js
src/jquery.montage.js
test/**
src/modules/dealreg/app/helpers/locales/
