extends ../layouts/base.pug

block menu
    include ../common/partials/menu-index
    
block content
    include ../common/index/main-block
    include ../common/index/products
    include ../common/index/news
    include ../common/index/helpful-information
