extends ../layouts/base.pug

block menu
    include ../common/partials/menu-news
    
block content
    section.section.news-post
        .container
            .row
                .col-lg-8
                    h3 Дмитрий Медведев поздравил Сергея Собянина с успехами в развитии электронных для населения Москвы 
                    img.news-img-top(src=require('images/photo.jpeg'))
                        
                    //- h3 Дмитрий Медведев поздравил Сергея Собянина с успехами в развитии электронных для населения Москвы
                
                    div.text Среди главных задач проекта — получение мнения горожан по актуальным вопросам, касающимся развития Москвы. Опросы «Активного гражданина» делятся на три категории: общегородские, отраслевые и районные. За активное участие в опросах начисляются бонусные баллы, которые можно обменять на вознаграждения.

                    p.text Спустя менее года, 6 марта 2015 года, число зарегистрированных пользователей «Активного гражданина» превысило 1 миллион человек. Всего за первый год было проведено 500 опросов и голосований, в которых пользователи оставили 25 миллионов мнений, на основании которых были приняты более 250 управленческих решений. В первую годовщину проекта московские власти объявили о создании волонтёрского объединения, призванного отслеживать выполнение городом обязательств, принятых по результатам обсуждений в «Активном гражданине». 
                    
                    h2
                        | Основные информационные системы, обеспечивающие государственное управление и проведения государственной политики в сфере образования города Москвы
                    ul.text-gray
                        li «Проход и питание по электронной карте»
                        li «Государственные услуги в сфере образования в электронном виде»
                        li Общегородская платформа «Электронных образовательных материалов»
                        li «Зачисления в учреждения дополнительного образования»
                        li «Электронный журнал и дневник учащегося»
                        li «НСИ и Реестры системы образования»
                        
                .col-lg-4
                    .cards.cards-post.cards-side
                        h4 Другие новости
                        .card
                            img.card-img-top(src=require('images/news_film_moscva_2018_500Normal.png'))
                            .card-body
                                h5.card-title 12 сентября, 16:47
                            a.card-text(href='#')
                                | Фильм «Большой» — фаворит активных граждан
                                
                        .card
                            img.card-img-top(src=require('images/GroupNormal.png'))
                            .card-body
                                h5.card-title 12 сентября, 16:47
                            a.card-text(href='#')
                                | Информация о врачах на сайтах поликлиник
                                
                        .card
                            img.card-img-top(src=require('images/news_exkyrsii_izmailovo_2018_500Normal.png'))
                            .card-body
                                h5.card-title 12 сентября, 16:47
                            a.card-text(href='#')
                                | Темы экскурсий в Измайловском парке
    
