doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title &Mcy;&ocy;&scy;&kcy;&vcy;&acy;
  link(href='css/app.css' rel='stylesheet')
#app
  .Page
    header.main-header.bdb-gray
      .bdb-gray
        .container
          .row
            .col
              nav.navbar.navbar-expand-xl.navbar-light
                a.navbar-brand(href='/')
                  img(src='img/logo.svg')
                button.navbar-toggler(data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                  span.navbar-toggler-icon
                #navbarNavDropdown.collapse.navbar-collapse
                  .navbar-collapse-close(data-toggle='collapse' data-target='#navbarNavDropdown')
                    span.ai.ai-icon_cross-fat
                  ul.navbar-nav.mr-auto
                    li.nav-item
                      a.nav-link(href='/')
                        span.nav-link-text &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
                    li.nav-item.nav-item-dropdown.animation-arrow
                      a.nav-link.active(href='/products.html')
                        span.nav-link-text &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;
                    li.nav-item.nav-item-dropdown.animation-arrow
                      a.nav-link(href='#')
                        span.nav-link-text &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
                    li.nav-item.nav-item-dropdown.animation-arrow
                      a.nav-link(href='#')
                        span.nav-link-text &Ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&iecy;
                    li.nav-item.nav-item-dropdown.animation-arrow
                      a.nav-link(href='#')
                        span.nav-link-text &Ocy;&bcy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &scy;&vcy;&yacy;&zcy;&softcy;
                  .navbar-left
                    a.link-blue(href='#' data-toggle='tooltip' data-placement='bottom' title='Вход для зарегистрированных пользователей') &Vcy;&khcy;&ocy;&dcy;
                    .btn-group
                      button.btn.active &rcy;&ucy;&scy;
                      button.btn eng
      .container
        .row
          .col
            form.search.form-inline
              button
                img(src='img/search.svg')
              input.form-control(placeholder='Поиск по продуктам')
    main
      section.main-product
        .container
          .row
            .col
              .main-product-body
                .main-product-image
                  img(src='img/icon-edu.png' style='width: 100px; height: 100px;')
                .main-product-content
                  .subtitle
                    a(href='/product.html' style='color: #FFFFFF') &Ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
                  h1 &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&ycy;&jcy; &dcy;&ncy;&iecy;&vcy;&ncy;&icy;&kcy;
                  .text
                    | &Pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy; &ocy; &tcy;&iecy;&kcy;&ucy;&shchcy;&iecy;&jcy; &ucy;&scy;&pcy;&iecy;&vcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&icy; &ocy;&bcy;&ucy;&chcy;&acy;&yucy;&shchcy;&iecy;&gcy;&ocy;&scy;&yacy;. &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&ycy;&jcy; &dcy;&ncy;&iecy;&vcy;&ncy;&icy;&kcy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&icy;&kcy;&acy; &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&iecy;&tcy; &kcy;&ocy;&ncy;&tcy;&rcy;&ocy;&lcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &ucy;&scy;&pcy;&iecy;&vcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; &vcy; &shcy;&kcy;&ocy;&lcy;&iecy;, &ocy;&tcy;&scy;&lcy;&iecy;&zhcy;&icy;&vcy;&acy;&tcy;&softcy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&iecy;&ncy;&icy;&iecy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &ocy;&bcy;&iecy;&scy;&pcy;&iecy;&chcy;&icy;&vcy;&acy;&tcy;&softcy; &scy;&vcy;&ocy;&iecy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &vcy;&scy;&iecy;&khcy; &zcy;&acy;&icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&khcy; &lcy;&icy;&tscy; &ocy; &khcy;&ocy;&dcy;&iecy; &icy; &rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&acy;&khcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &pcy;&rcy;&ocy;&tscy;&iecy;&scy;&scy;&acy;.
                  a.btn.btn-primary.js-scroll(href='#request') &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy;
      section.product-nav.bdb-gray
        .container
          .row
            .col
              nav.navbar.navbar-expand-lg
                ul.navbar-nav.mr-auto
                  li.nav-item
                    a.nav-link.active.js-scroll(href='#about-product')
                      span.nav-link-text &Ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy;
                  li.nav-item.nav-item-dropdown.animation-arrow
                    a.nav-link.js-scroll(href='#products')
                      span.nav-link-text &Scy;&kcy;&rcy;&icy;&ncy;&shcy;&ocy;&tcy;&ycy;
                  li.nav-item.nav-item-dropdown.animation-arrow
                    a.nav-link.js-scroll(href='#demands')
                      span.nav-link-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;
                  li.nav-item.nav-item-dropdown.animation-arrow
                    a.nav-link.js-scroll(href='#using')
                      span.nav-link-text &Icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
                  li.nav-item.nav-item-dropdown.animation-arrow
                    a.nav-link.js-scroll(href='#documents')
                      span.nav-link-text &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                  li.nav-item.nav-item-dropdown.animation-arrow
                    a.nav-link.js-scroll(href='#Implications')
                      span.nav-link-text &Icy;&scy;&tcy;&ocy;&rcy;&icy;&icy; &ucy;&scy;&pcy;&iecy;&khcy;&acy;
      section#about-product.section.bdb-gray
        .container
          .row
            .col
              // <h3>О продукте</h3>  //
              .about-product
                div
                  p.text
                    | &Pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy; &ocy; &tcy;&iecy;&kcy;&ucy;&shchcy;&iecy;&jcy; &ucy;&scy;&pcy;&iecy;&vcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&icy; &ocy;&bcy;&ucy;&chcy;&acy;&yucy;&shchcy;&iecy;&gcy;&ocy;&scy;&yacy;. &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&ycy;&jcy; &dcy;&ncy;&iecy;&vcy;&ncy;&icy;&kcy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&icy;&kcy;&acy; &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&iecy;&tcy; &kcy;&ocy;&ncy;&tcy;&rcy;&ocy;&lcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &ucy;&scy;&pcy;&iecy;&vcy;&acy;&iecy;&mcy;&ocy;&scy;&tcy;&softcy; &vcy; &shcy;&kcy;&ocy;&lcy;&iecy;, &ocy;&tcy;&scy;&lcy;&iecy;&zhcy;&icy;&vcy;&acy;&tcy;&softcy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&iecy;&ncy;&icy;&iecy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &ocy;&bcy;&iecy;&scy;&pcy;&iecy;&chcy;&icy;&vcy;&acy;&tcy;&softcy; &scy;&vcy;&ocy;&iecy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &vcy;&scy;&iecy;&khcy; &zcy;&acy;&icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&khcy; &lcy;&icy;&tscy; &ocy; &khcy;&ocy;&dcy;&iecy; &icy; &rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&acy;&khcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &pcy;&rcy;&ocy;&tscy;&iecy;&scy;&scy;&acy;.
                .about-product-links
                  strong &Fcy;&acy;&jcy;&lcy;&ycy; &dcy;&lcy;&yacy; &scy;&kcy;&acy;&chcy;&icy;&vcy;&acy;&ncy;&icy;&yacy;
                  ul
                    li
                      a.about-product-link(href='#')
                        img.card-img-top(src='img/clip.svg')
                        | &pcy;&rcy;&iecy;&zcy;&iecy;&ncy;&tcy;&acy;&tscy;&icy;&yacy; (PDF)
                    li
                      a.about-product-link(href='#')
                        img.card-img-top(src='img/clip.svg')
                        | &Icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yacy; &dcy;&lcy;&yacy; &rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&yacy; (PDF)
              section#products.section.bdb-gray.pb-4(style='border-bottom: none')
                .screenshots
                  h3 &Scy;&kcy;&rcy;&icy;&ncy;&shcy;&ocy;&tcy;&ycy;
                  .screenshots-images
                    ul
                      li
                        img.card-img-top(src='img/screen1.png')
                      li
                        img.card-img-top(src='img/screen1.png')
                      li
                        img.card-img-top(src='img/screen1.png')
                      li
                        img.card-img-top(src='img/screen1.png')
                      li
                        img.card-img-top(src='img/screen1.png')
                      li
                        img.card-img-top(src='img/screen1.png')
      section#demands.section.bdb-gray.pb-4
        .container
          .row
            .col
              h3 &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;
        .container
          .row
            .col
              .demands-block
                .row
                  .col
                    .demands-block-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ocy;&jcy; &vcy;&ycy;&chcy;&icy;&scy;&lcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&iecy;
                    .demands-block-info PDF, 12 &Mcy;&bcy;
                  .col
                    a.demands-block-link(href='#')
                      img(src='img/content.svg')
                      | &Scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
                    a.btn.btn-outline-primary.disabled(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy;
                    img.demands-block-img(src='img/block.svg')
            .col
              .demands-block
                .row
                  .col
                    .demands-block-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ocy;&jcy; &vcy;&ycy;&chcy;&icy;&scy;&lcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&iecy;
                    .demands-block-info PDF, 12 &Mcy;&bcy;
                  .col
                    a.demands-block-link(href='#')
                      img(src='img/content.svg')
                      | &Scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
                    a.btn.btn-outline-primary.disabled(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy;
                    img.demands-block-img(src='img/block.svg')
        .container
          .row
            .col
              .demands-block
                .row
                  .col
                    .demands-block-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ocy;&jcy; &vcy;&ycy;&chcy;&icy;&scy;&lcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&iecy;
                    .demands-block-info PDF, 12 &Mcy;&bcy;
                  .col
                    a.demands-block-link(href='#')
                      img(src='img/content.svg')
                      | &Scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
                    a.btn.btn-outline-primary.disabled(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy;
                    img.demands-block-img(src='img/block.svg')
            .col
              .demands-block
                .row
                  .col
                    .demands-block-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ocy;&jcy; &vcy;&ycy;&chcy;&icy;&scy;&lcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&iecy;
                    .demands-block-info PDF, 12 &Mcy;&bcy;
                  .col
                    a.demands-block-link(href='#')
                      img(src='img/content.svg')
                      | &Scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
                    a.btn.btn-outline-primary.disabled(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy;
                    img.demands-block-img(src='img/block.svg')
      section#using.section.bdb-gray.pb-4
        .container
          .row
            .col
              h3 &Icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
        .container
          .row
            .col
              .demands-block
                .row
                  .col
                    .demands-block-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&iecy;
                    .demands-block-info PDF, 12 &Mcy;&bcy;
                  .col
                    a.demands-block-link(href='#')
                      img(src='img/content.svg')
                      | &Scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
                    a.btn.btn-outline-primary.disabled(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy;
                    img.demands-block-img(src='img/block.svg')
            .col
              .demands-block
                .row
                  .col
                    .demands-block-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&iecy;
                    .demands-block-info PDF, 12 &Mcy;&bcy;
                  .col
                    a.demands-block-link(href='#')
                      img(src='img/content.svg')
                      | &Scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
                    a.btn.btn-outline-primary.disabled(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy;
                    img.demands-block-img(src='img/block.svg')
        .container
          .row
            .col
              .demands-block
                .row
                  .col
                    .demands-block-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&iecy;
                    .demands-block-info PDF, 12 &Mcy;&bcy;
                  .col
                    a.demands-block-link(href='#')
                      img(src='img/content.svg')
                      | &Scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
                    a.btn.btn-outline-primary.disabled(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy;
                    img.demands-block-img(src='img/block.svg')
            .col  
      section#documents.section.bdb-gray.bdb-gray.pb-4
        .container
          .row
            .col
              h3 &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
        .container
          .row
            .col
              .demands-block
                .row
                  .col
                    .demands-block-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&iecy;
                    .demands-block-info PDF, 12 &Mcy;&bcy;
                  .col
                    a.demands-block-link(href='#')
                      img(src='img/content.svg')
                      | &Scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
                    a.btn.btn-outline-primary.disabled(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy;
                    img.demands-block-img(src='img/block.svg')
            .col
              .demands-block
                .row
                  .col
                    .demands-block-text &Tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&iecy;
                    .demands-block-info PDF, 12 &Mcy;&bcy;
                  .col
                    a.demands-block-link(href='#')
                      img(src='img/content.svg')
                      | &Scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
                    a.btn.btn-outline-primary.disabled(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy;
                    img.demands-block-img(src='img/block.svg')
      section#Implications.section.implications
        .container
          .row
            .col
              h3 &Icy;&scy;&tcy;&ocy;&rcy;&icy;&icy; &ucy;&scy;&pcy;&iecy;&khcy;&acy;
        .container
          .row
            .col-lg-4
              .text
                | &laquo;&Mcy;&ycy; &mdash; &icy;&ncy;&icy;&tscy;&icy;&acy;&tcy;&ocy;&rcy;&ycy; &ncy;&iecy;&kcy;&ocy;&mcy;&mcy;&iecy;&rcy;&chcy;&iecy;&scy;&kcy;&ocy;&gcy;&ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy;, &tscy;&iecy;&lcy;&softcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&gcy;&ocy; &mdash; &ucy;&lcy;&ucy;&chcy;&shcy;&iecy;&ncy;&icy;&iecy; &vcy;&zcy;&acy;&icy;&mcy;&ocy;&dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy; &lcy;&yucy;&dcy;&iecy;&jcy; &scy; &gcy;&ocy;&scy;&ucy;&dcy;&acy;&rcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&mcy;&icy; &tscy;&icy;&fcy;&rcy;&ocy;&vcy;&ycy;&mcy;&icy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy;&mcy;&icy;.&raquo;
              .person
                img.person-img(src='img/person.png')
                .person-content
                  .person-name &Icy;&gcy;&ocy;&rcy;&softcy; &Rcy;&ocy;&mcy;&acy;&ncy;&ocy;&vcy;
                  .person-position &Rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &ocy;&tcy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &Mcy;&icy;&ncy;&tcy;&rcy;&acy;&ncy;&scy;&pcy;&ocy;&rcy;&tcy;&acy;
            .col-lg-4
              .text
                | &laquo;&Mcy;&ycy; &mdash; &icy;&ncy;&icy;&tscy;&icy;&acy;&tcy;&ocy;&rcy;&ycy; &ncy;&iecy;&kcy;&ocy;&mcy;&mcy;&iecy;&rcy;&chcy;&iecy;&scy;&kcy;&ocy;&gcy;&ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy;, &tscy;&iecy;&lcy;&softcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&gcy;&ocy; &mdash; &ucy;&lcy;&ucy;&chcy;&shcy;&iecy;&ncy;&icy;&iecy; &vcy;&zcy;&acy;&icy;&mcy;&ocy;&dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy; &lcy;&yucy;&dcy;&iecy;&jcy; &scy; &gcy;&ocy;&scy;&ucy;&dcy;&acy;&rcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&mcy;&icy; &tscy;&icy;&fcy;&rcy;&ocy;&vcy;&ycy;&mcy;&icy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy;&mcy;&icy;.&raquo;
              .person
                img.person-img(src='img/person.png')
                .person-content
                  .person-name &Icy;&gcy;&ocy;&rcy;&softcy; &Rcy;&ocy;&mcy;&acy;&ncy;&ocy;&vcy;
                  .person-position &Rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &ocy;&tcy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &Mcy;&icy;&ncy;&tcy;&rcy;&acy;&ncy;&scy;&pcy;&ocy;&rcy;&tcy;&acy;
            .col-lg-4
              .text
                | &laquo;&Mcy;&ycy; &mdash; &icy;&ncy;&icy;&tscy;&icy;&acy;&tcy;&ocy;&rcy;&ycy; &ncy;&iecy;&kcy;&ocy;&mcy;&mcy;&iecy;&rcy;&chcy;&iecy;&scy;&kcy;&ocy;&gcy;&ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy;, &tscy;&iecy;&lcy;&softcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&gcy;&ocy; &mdash; &ucy;&lcy;&ucy;&chcy;&shcy;&iecy;&ncy;&icy;&iecy; &vcy;&zcy;&acy;&icy;&mcy;&ocy;&dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy; &lcy;&yucy;&dcy;&iecy;&jcy; &scy; &gcy;&ocy;&scy;&ucy;&dcy;&acy;&rcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&mcy;&icy; &tscy;&icy;&fcy;&rcy;&ocy;&vcy;&ycy;&mcy;&icy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&acy;&mcy;&icy;.&raquo;
              .person
                img.person-img(src='img/person.png')
                .person-content
                  .person-name &Icy;&gcy;&ocy;&rcy;&softcy; &Rcy;&ocy;&mcy;&acy;&ncy;&ocy;&vcy;
                  .person-position &Rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &ocy;&tcy;&dcy;&iecy;&lcy;&iecy;&ncy;&icy;&yacy; &Mcy;&icy;&ncy;&tcy;&rcy;&acy;&ncy;&scy;&pcy;&ocy;&rcy;&tcy;&acy;
      section#request.section.section-blue
        .container
          .row
            .col
              h3 &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy;
        form
          .container
            .row
              .col-lg-4
                .form-group
                  label &Vcy;&acy;&shcy;&iecy; &icy;&mcy;&yacy;
                  input.form-control
              .col-lg-4
                .form-group
                  label &Vcy;&acy;&shcy; &acy;&dcy;&rcy;&iecy;&scy; &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&ocy;&jcy; &pcy;&ocy;&chcy;&tcy;&ycy;
                  input.form-control
              .col-lg-4
                .form-group
                  label &Vcy;&acy;&shcy; &ncy;&ocy;&mcy;&iecy;&rcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;
                  input.form-control
          .container
            .row
              .col-lg-4
                .form-group
                  label &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &vcy;&acy;&shcy;&iecy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
                  input.form-control
              .col-lg-4
                .form-group
                  label &Scy;&acy;&jcy;&tcy; &vcy;&acy;&shcy;&iecy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
                  input.form-control
              .col-lg-4
                button.btn.btn-outline-secondary.btn-lg.mt-4 &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy;
    footer.main-footer
      .bdb-gray
        .container
          .row
            .col
              .footer-wrapper
                nav.navbar.navbar-expand-lg
                  ul.navbar-nav.mr-auto
                    li.nav-item
                      a.nav-link(href='/')
                        span.nav-link-text &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
                    li.nav-item.nav-item-dropdown.animation-arrow
                      a.nav-link.active(href='/products.html')
                        span.nav-link-text &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;
                    li.nav-item.nav-item-dropdown.animation-arrow
                      a.nav-link(href='#')
                        span.nav-link-text &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
                    li.nav-item.nav-item-dropdown.animation-arrow
                      a.nav-link(href='#')
                        span.nav-link-text &Ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&iecy;
                    li.nav-item.nav-item-dropdown.animation-arrow
                      a.nav-link(href='#')
                        span.nav-link-text &Ocy;&bcy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &scy;&vcy;&yacy;&zcy;&softcy;
      .container
        .row
          .col
            .main-footer-bottom
              .trademark
                | &copy; &Acy;&Ocy; &laquo;&Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&acy;&yacy; &Mcy;&ocy;&scy;&kcy;&vcy;&acy;&raquo;, 2018
                br
                | &Dcy;&iecy;&pcy;&acy;&rcy;&tcy;&acy;&mcy;&iecy;&ncy;&tcy; &Icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&khcy; &Tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&jcy; &gcy;. &Mcy;&ocy;&scy;&kcy;&vcy;&ycy;
              img(src='img/dp@2x.png')
script(type='text/javascript' src='js/manifest.js')
script(type='text/javascript' src='js/vendor.js')
script(type='text/javascript' src='js/app.js')
