extends ../layouts/base.pug

block menu
    include ../common/partials/menu-products

block content
    section.filters
        .container
            ul.top-menu
                li
                    .dropdown Отрасли
                    ul.submenu 
                        li
                            ul
                                li
                                    a(href='') Безопасность и правопорядок
                                    
                                li
                                    a(href='') Градостроительный комплекс
                                        
                                li
                                    a(href='') ЖКХ и жилполитика
                                            
                                li
                                    a(href='') Здравоохранение
                                    
                                li
                                    a(href='') Имущественный комплекс
                                    
                                li
                                    a(href='') Культура, культурное наследие и спорт
                                    
                        li
                            ul
                                li
                                    a(href='') Образование
                                    
                                li
                                    a(href='') Общегородские задачи и проекты
                                        
                                li
                                    a(href='') Социальная сфера
                                            
                                li
                                    a(href='') Территориальные органы власти
                                    
                                li
                                    a(href='') Торговля
                                    
                                li
                                    a(href='') Транспорт
                                    
                        li
                            ul
                                li
                                    a(href='') Туризм
                                    
                                li
                                    a(href='') Финансы и экономика
                                        
                                li
                                    a(href='') Природопользование и экология
                                            
                                li
                                    a(href='') Управление
                                    
                                li
                                    a(href='') Информационные технологии
                                    
                                li
                                    a(href='') Прочее
                                    
                li
                    .dropdown Для кого
                    
                    ul.submenu 
                        li
                            ul
                                li
                                    a(href='') Государственный сектор
                                    
                                li
                                    a(href='') Операторы
                                        
                                li
                                    a(href='') Крупный бизнес
                                        
                                li
                                    a(href='') Малый бизнес
                                        
                                li
                                    a(href='') Частные клиенты
                                    
                li
                    .dropdown Технологии
                    
                    ul.submenu 
                        li
                            ul
                                li
                                    a(href='') Облачные решения
                                    
                                li
                                    a(href='') Программное обеспечение
                                        
                                li
                                    a(href='') Инфраструктурные решения
                                    
                
            //-.row
                .col 
                    .dropdown
                        button#Agriculture.dropdown-btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Отрасли
                        .dropdown-menu(aria-labelledby='Agriculture')
                            a.dropdown-item(href='#') Промышленность
                            a.dropdown-item(href='#') Сельское хозяйство
                            a.dropdown-item(href='#') Культура
                            a.dropdown-item(href='#') Образование
                            a.dropdown-item(href='#') Здравоохранение
                            a.dropdown-item(href='#') Социальное обеспечение
                            a.dropdown-item(href='#') Строительство
                            a.dropdown-item(href='#') Транспорт
                            a.dropdown-item(href='#') Связь
                            a.dropdown-item(href='#') Торговля
                            a.dropdown-item(href='#') Общественное питание
                            a.dropdown-item(href='#') Логистика
                            a.dropdown-item(href='#') Наука
                            a.dropdown-item(href='#') Управление
                            a.dropdown-item(href='#') Жилищно-коммунальное хозяйство
                            a.dropdown-item(href='#') Бытовое обслуживание населения
                            
                            
                    .dropdown
                        button#types.dropdown-btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Для кого
                        .dropdown-menu(aria-labelledby='types')
                            a.dropdown-item(href='#') Государственный сектор
                            a.dropdown-item(href='#') Операторы
                            a.dropdown-item(href='#') Крупный бизнес
                            a.dropdown-item(href='#') Малый бизнес
                            a.dropdown-item(href='#') Частные клиенты
                                    
                    .dropdown
                        button#technologies.dropdown-btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Все технологии
                        .dropdown-menu(aria-labelledby='technologies')
                            a.dropdown-item(href='#') Облачные решения
                            a.dropdown-item(href='#') Программное обеспечение
                            a.dropdown-item(href='#') Инфраструктурные решения
                                            
                    //-.dropdown
                        button#statuses.dropdown-btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Все статусы
                        .dropdown-menu(aria-labelledby='statuses')
                            a.dropdown-item(href='#') Действующие
                            a.dropdown-item(href='#') В разработке
                            a.dropdown-item(href='#') Приостановленные
                    
        
    include ../common/products/products
    //- include ../common/index/main-block
    //- include ../common/index/news-blogs
    //- include ../common/index/discussions
    //- include ../common/index/public-video
