section.section.section-blue
    .container
        .row
            .col 
                h3 Полезная информация
                
    .container
        .row
            .col-lg-6
                h4 Зачем этот проект
                    
                p.text Москва занимает лидирующие позиции как мегаполис оснащенный наиболее передовыми и наиболее используемыми населением электронными сервисами. В этом году это было отмечено ежегодным рейтингом ООН в котором Москва заняла первое место.
                    
                p.text Премьер-министр Дмитрий Медведев поздравил мэра Москвы Сергея Собянина с мировым признанием достижений Москвы и выразил надежду, что опыт Москвы можно будет тиражировать в другие регионы.
                    
                p.text В рамках проекта Разработано Москвой мы создаем возможности для предоставления доступа к наработкам Москвы для всех регионов России.
                    
                h4.mt-5 Для кого
                    
                p.text Разработано Москвой - это проект для глав регионов, для руководителей аппаратов регионального уровня, для руководителей муниципальных образований и крупных организаций, которые заинтересованы в использовании передовых и апробированных технологий и электронных сервисов разработанных Москвой.
                
            .col-lg-6
                h4 Как это работает
                
                p.text Портал представляет собой каталог всех продуктов доступных для тиражирования в другие регионы. Базовая информация с описанием продукта доступна в публичном доступе. Представители региональных и муниципальных властей, а также коммерческих компаний, отправляют запрос на регистрацию. Зарегистрированные пользователи получают доступ к полной информации о продукте необходимой для тиражирования решения.
