section.main-block
    .container
        .row
            .col 
                h1 Разработано Москвой
                a.btn.btn-primary(href='http://krylev.ru/elmoscow/products.html') Посмотреть все продукты
                .subtitle
                    | ВСЕ ПРОДУКТЫ РАЗРАБОТАНЫ ПО ИНИЦИАТИВЕ ПРАВИТЕЛЬСТВА МОСКВЫ 
                    br
                    | ДЛЯ РЕШЕНИЯ ЗАДАЧ ГОРОДСКОГО УПРАВЛЕНИЯ В ГОРОДЕ МОСКВЕ
