section.main-block
    .container
        .row
            .col 
                h1 Разработано Москвой
                a.btn.btn-primary(href='http://krylev.ru/elmoscow/products.html') Посмотреть все продукты
                .subtitle
                    | Все продукты каталога разработаны по инициативе Правительства 
                    br
                    | Москвы для автоматизации оказания услуг в городе Москва
