section.section.bdb-gray
    .container
        .row
            .col 
                h3 Новости
                .card-deck.cards-post
                    .card
                        img.card-img-top(src=require('images/photo.jpeg'))
                        .card-body
                            h5.card-title 12 сентября, 16:47
                        a.card-text(href='#')
                            | Дмитрий Медведев поздравил Сергея Собянина с успехами в развитии электронных для населения Москвы
                            
                    .card
                        img.card-img-top(src=require('images/news_film_moscva_2018_500Normal.png'))
                        .card-body
                            h5.card-title 12 сентября, 16:47
                        a.card-text(href='#')
                            | Фильм «Большой» — фаворит активных граждан
                            
                    .card
                        img.card-img-top(src=require('images/GroupNormal.png'))
                        .card-body
                            h5.card-title 12 сентября, 16:47
                        a.card-text(href='#')
                            | Информация о врачах на сайтах поликлиник
                            
                    .card
                        img.card-img-top(src=require('images/news_exkyrsii_izmailovo_2018_500Normal.png'))
                        .card-body
                            h5.card-title 12 сентября, 16:47
                        a.card-text(href='#')
                            | Темы экскурсий в Измайловском парке

                .text-center.mt-4
                    a.link-blue(href='#') Посмотреть все новости
