section.section.bdb-gray.pb-3
    .container
        .row
            .col 
                h3 Продукты
                .products-content
                    ul.products
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Промышленность
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Сельское хозяйство
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Культура
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Образование
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Здравоохранение
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Социальное обеспечение
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Строительство
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Транспорт
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Связь
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Торговля
                                
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Общественное питание
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Логистика
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Наука
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Управление
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Жилищно-коммунальное хозяйство
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Бытовое обслуживание населения
                            
                .cards
                    .card
                        img.card-img-top(src=require('images/A.svg'))
                        .card-body
                            a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                            .card-text
                                | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                            
                    .card
                        img.card-img-top(src=require('images/A.svg'))
                        .card-body
                            a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                            .card-text
                                | Фильм «Большой» — фаворит активных граждан
                            
                    .card
                        img.card-img-top(src=require('images/A.svg'))
                        .card-body
                            a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                            .card-text
                                | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                            
                    .card
                        img.card-img-top(src=require('images/A.svg'))
                        .card-body
                            a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                            .card-text
                                | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
