section.section.bdb-gray.pb-3
    .container
        .row
            .col 
                //- h3 Продукты
                .products-content
                    ul.products
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Безопасность и правопорядок
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Градостроительный комплекс
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') ЖКХ и жилполитика
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Здравоохранение
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Имущественный комплекс
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Культура, культурное наследие и спорт
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Образование
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Общегородские задачи и проекты
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Социальная сфера
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Территориальные органы власти
                                
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Торговля
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Транспорт
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Туризм
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Финансы и экономика
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Природопользование и экология
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Управление
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Информационные технологии
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Прочее
                            
                .cards
                    .row
                        .col.col-lg-3
                            .card
                                img.card-img-top(src=require('images/icon-edu.png'))
                                .card-body
                                    a.card-title(href='http://krylev.ru/elmoscow/product-old2.html') Электронный дневник
                                    .card-text
                                        | Предоставление информации о текущей успеваемости обучающегося. Электронный дневник школьника позволяет контролировать успеваемость в школе, отслеживать выполнение школьной программы, а также обеспечивать своевременное информирование всех заинтересованных лиц о ходе и результатах образовательного процесса.
                                        
                        .col.col-lg-3
                            .card
                                img.card-img-top(src=require('images/icon-edu.png'))
                                .card-body
                                    a.card-title(href='http://krylev.ru/elmoscow/product.html') Проход и питание
                                    .card-text
                                        | Услуга позволяет получить информацию о том, когда ребенок находится в школе, детском саду или колледже, как питается в школьной столовой и буфете, а также планировать заказ на горячее питание ребенка, пополнять его лицевой счет и вести контроль за его тратами и покупками в буфете.
                                        
                        .col.col-lg-3
                            .card
                                img.card-img-top(src=require('images/icon-edu.png'))
                                .card-body
                                    a.card-title(href='http://krylev.ru/elmoscow/product.html') Запись в школу
                                    .card-text
                                        | Услуга обеспечивает прием и регистрация заявлений на обучение по программам среднего профессионального образования в образовательные организации города Москвы, реализующие образовательные программы среднего профессионального образования через портал в сети Интернет.
                                        
                        .col.col-lg-3
                            .card
                                img.card-img-top(src=require('images/icon-edu.png'))
                                .card-body
                                    a.card-title(href='http://krylev.ru/elmoscow/product.html') Запись в дополнительные кружки и секции
                                    .card-text
                                        | Регистрация заявлений о приеме для обучения по программам начального общего, основного общего и среднего общего образования в образовательные организации, подведомственные Департаменту образования города Москвы.
                        
