ul.navbar-nav.mr-auto
    li.nav-item
        a.nav-link.active(href='http://krylev.ru/elmoscow/')
            span.nav-link-text Главная

    li.nav-item.nav-item-dropdown.animation-arrow
        a.nav-link(href='http://krylev.ru/elmoscow/products.html')
            span.nav-link-text Продукты
            
    li.nav-item.nav-item-dropdown.animation-arrow
        a.nav-link(href='#')
            span.nav-link-text Новости

    li.nav-item.nav-item-dropdown.animation-arrow
        a.nav-link(href='#')
            span.nav-link-text О проекте

    li.nav-item.nav-item-dropdown.animation-arrow
        a.nav-link(href='#')
            span.nav-link-text Обратная связь
