#demand1.modal.fade(
    tabindex="-1"
    role="dialog"
    aria-hidden="true")

    .modal-dialog(role="document")
        .modal-content
            .modal-body
                .wysiwyg
                    h3 О продукте
                    p Среди главных задач проекта — получение мнения горожан по актуальным вопросам, касающимся развития Москвы. Опросы «Активного гражданина» делятся на три категории

                    ul
                        li «Проход и питание по электронной карте»
                        li «Государственные услуги в сфере образования в электронном виде»
                        li Общегородская платформа «Электронных образовательных материалов»
                        li «Зачисления в учреждения дополнительного образования»


            .modal-footer.modal-footer-double
                .btn.btn-outline-primary.btn-white(data-dismiss="modal")
                    span Закрыть
                    //span.ai.ai-icon_sign-right
